/* Whole document: */
body{
  font-family: Arial;
  font-size: 13pt;
}
/* Headers */
h1{
  font-size: 24pt;
}
h2{
  font-size: 22pt;
}
h3{
  font-size: 20pt;
}
h4{
  font-size: 18pt;
}
h5{
  font-size: 16pt;
}